* {
    box-sizing: border-box;
}
/* ----------------------------- */
/* header */
.flright {
	float: right !important;
}
.navlinkcustom {
	color: black !important;
}
.navlinkcustom:hover {
	text-decoration: underline !important;
}
.inactive {
	font-weight: bold !important ;
}

/* ----------------------------- */

/* Carousel */
.carousel-item {
	position: relative !important;
	margin: 0 auto !important; 
}
.carouselimgsize {
	height: 600px;	
}
.textblock {
	text-align: center;
    position: absolute; /* Position the background text */
	bottom: 6%; /* At the bottom. Use top:0 to append it to the top */
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1; /* Grey text */
	width: 100%; /* Full width */
	padding: 20px; /* Some padding */
}
.textblock h4 {
	font-weight: bold ;
}
.textblock a {
	color: #ffff00 !important;
	text-decoration: none;
}
.textblock a:hover {
	color: #ffff00 !important;
	text-decoration: underline;
}

/* ----------------------------- */
/* Booking Table */
.booking {	
	background-image: url("book-table.jpg") !important;
	background-size: 100% !important;
	height: auto !important;
}
.bookingbtn {
	color: white !important;
	background-color: #E9B947 !important;
	border-radius: 4px;
	padding: 11px 30px;
	border: none;
}
.bookingbtn:hover {
	background-color: black !important;
}